# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
DATABASE_URL="postgresql://user:password@localhost:5432/db_name"

# Secret used by Better Auth
BETTER_AUTH_SECRET=""
# Better Auth Apple OAuth
APPLE_KEY_ID=""
APPLE_TEAM_ID=""
APPLE_CLIENT_ID=""
APPLE_PRIVATE_KEY=""
APPLE_APP_BUNDLE_IDENTIFIER=""
# Better Auth GitHub OAuth
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
# Better Auth Google OAuth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

DEEPSEEK_API_KEY=""
EXPO_PUBLIC_CHAT_ENDPOINT_URL="http://localhost:8081/api/chat"
